:root {
    --scale-factor: 1;
}

$color-light: #e6e6e6;
$color-dark: #262626;
$color-accent: #f12667;

@mixin inverted {
    color: $color-light;
    background-color: $color-dark;
}

@mixin light {
    filter: invert(100%) sepia(0%) saturate(7438%) hue-rotate(55deg) brightness(84%) contrast(117%);
}

@mixin dark {
    filter: invert(10%) sepia(0%) saturate(0%) hue-rotate(155deg) brightness(99%) contrast(88%);
}

@mixin accent {
    filter: invert(27%) sepia(77%) saturate(3015%) hue-rotate(325deg) brightness(94%) contrast(101%);
}

@font-face {
    font-family: 'IBM';
    src: url('font.ttf');
}

@media (min-width: 1280px) {
    :root {
        --scale-factor: 2;
    }
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'IBM', sans-serif;
    font-size: 16px;
    font-weight: 100;
    min-width: 0;
}

*:not(a){
    color: $color-dark;
}

html {
    transform-origin: top left;
    scale: var(--scale-factor);
    width: calc(100vw/var(--scale-factor));
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh/var(--scale-factor));
    background-color: $color-light;
}

main {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 640px;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 36px 122px 118px 36px;
    image-rendering: pixelated;
}

article::before{
    content: "";
    position:absolute;
    inset: 0;
    margin: -36px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 36px 122px 118px 36px;
    border-image: url(border.png) 36 122 118 36;
    image-rendering: pixelated;
    @include dark;
}

article {
    margin-right: -86px;
    margin-bottom: -72px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 16px;
}


nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 0;
}

nav ul li a {
    @include inverted;
    padding: 2px 4px;
    text-decoration: none;
}

ul, ol {
    margin-left: 24px;
}
section, nav, figure {
    padding: 8px;
    border: 1px solid $color-dark;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba($color-light, 0.9);
    gap: 8px;
}

figure {
    margin: 8px;
    align-self: flex-start;
    border: 1px solid $color-dark;
    div {
        display:table;
        figcaption {
            display:table-caption;
            caption-side:bottom;
        }
    }
}

section,
nav,
article,
figure {
    h1:first-child {
        color: $color-dark;
        background-color: $color-light;
        padding: 0px 4px;
        position: absolute;
        top: -10px;
        line-height: 16px;
    }
}

a>img {
    display: inline-block;
    vertical-align: text-bottom;
    @include light;
}

a>img:last-of-type{
    margin-right: 4px;
}

a:hover {
    color: $color-accent;

    img {
        @include accent;
    }
}

article>h1:first-child {
    color: $color-light;
    background: $color-accent;
    top: -35px;
    left: -4px;
}

code {
    @include inverted;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    padding: 1px 4px;
}

pre {
    @include inverted;
    overflow-x: auto;
    padding: 8px;
}

strong {
    color: $color-accent;
}

.youtube{
    width: 100%; 
    aspect-ratio: 16 / 9;
    iframe{
        width: 100%; height: 100%;
    }
}

.square {
    height: 6px;
    width: 6px;
    margin: 0px 4px;
    display: inline-block;
    vertical-align: middle;
}

.aqua{
    background: #34D399;
}

.scarlet{
    background: #DF3813;
}

.magenta{
    background: #EC398A;
}