<!DOCTYPE html>
<html lang="en">
{%- if page %}
{%- set resource = page %}
{%- elif section %}
{%- set resource = section %}
{%- endif %}

<head>
  <title>{{resource.title | safe}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="color-scheme" content="light only">
  <meta name="referrer" content="strict-origin-when-cross-origin">
  <meta property="og:url" content="https://errai.tf">
  <meta name="description" content="{{resource.description | safe}}">
  <meta property="og:description" content="{{resource.description | safe}}">
  <meta property="og:title" content="{{resource.title | safe}}">
  {% if resource.extra.image %}
  <meta property="og:image" content="{{get_url(path=resource.extra.image)}}">
  {% endif %}
  <link rel="stylesheet" href="{{ get_url(path='style.css') | safe }}">
  {% block css %} {% endblock %}
</head>

{% block body %} {% endblock %}

</html>