{% extends "base.html" %}
{% block body %}

<body class="">
  <main>
    <article>
      <h1><span class=light>ERRAI/</span><span class="magenta">NEON</span></h1>
      <div class="bio">
        <p>34 y/o dev from Boston • Dragon amalgam • He/Him
        <p>Curious, playful, introverted, and drawn to modest people with a sense of humor. My main hobbies are
          photography, art, gamedev, reverse engineering, and composing music. I enjoy atmospheric black metal, ambient
          techno, cryptic games, and mystery movies/anime.</p>
      </div>
      <div class="metro-lines-row">
        {% set types = get_taxonomy(kind="types") %}
        {% for term in types.items %}

        <nav class="{{ config.extra.taxonomies['types'][term.slug].colorClass }}">
          <ul class="vertical-line">
            <h1>{{term.slug}}</h1>
            {% for page in term.pages %}
            <li><a href="{{ page.permalink | safe }}">
                <small>
                  {{ config.extra.taxonomies['types'][term.slug].initial -}}
                  {% if loop.index < 10 %}0{% endif %} {{- term.pages | length - loop.index0}} </small>
                    <div class="metro-station-label">
                      <span>{{ page.title }}</span>
                      <small>{{ page.description }} • {{ page.date }}</small>
                    </div>
              </a></li>
            {% endfor %}
          </ul>
        </nav>
        {% endfor %}
      </div>
      <nav class="magenta">
        <ul class="horizontal-line">
          <h1>Contact/Radar</h1>
          <li>
            <a href="https://discordapp.com/users/382774230267330567">
              <i class="icon-discord"></i>
              <span>Discord</span>
            </a>
          </li>
          <li>
            <a href="https://t.me/errai">
              <i class="icon-telegram"></i>
              <span>Telegram</span>
            </a>
          </li>
          <li>
            <a href="https://bsky.app/profile/errai.bsky.social/">
              <span>BlueSky</span>
              <i class="icon-bluesky"></i>
            </a>
            <ul class="vertical-line">
              <li>
                <a href="https://bsky.app/profile/gooeypaws.bsky.social/">
                  <i class="icon-18-plus"></i>
                  <span>NSFW</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://www.instagram.com/erraineon/">
              <i class="icon-instagram"></i>
              <span>Instagram</span>
            </a>
          </li>
          <li>
            <a href="https://x.com/errai/">
              <span>Twitter</span>
              <i class="icon-twitter"></i>
            </a>
            <ul class="vertical-line">
              <li>
                <a href="https://x.com/gooeypaws/">
                  <i class="icon-18-plus"></i>
                  <span>NSFW</span>
                </a>
              </li>
              <li>
                <a href="https://x.com/dryflat/">
                  <i class="icon-lock"></i>
                  <span>Personal</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://www.furaffinity.net/user/errai">
              <i class="icon-furaffinity"></i>
              <span>FurAffinity</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="green">
        <ul class="horizontal-line">
          <h1>Links/Atlas</h1>
          <li>
            <a href="https://github.com/erraineon">
              <i class="icon-github"></i>
              <span>GitHub</span>
            </a>
          </li>
          <li>
            <a href="https://open.spotify.com/user/8ilrts1c4oeoj08k1t2pkokwc?si=428a127a80c844d5">
              <i class="icon-spotify"></i>
              <span>Spotify</span>
            </a>
            <ul class="vertical-line">
              <li>
                <a href="https://open.spotify.com/playlist/3B2O6Jp0OXhGPxUegjrumu?si=8ea205bdfb424651">
                  <i class="aqua icon-music-circle"></i>
                  <span>.tech</span>
                </a>
              </li>
              <li>
                <a href="https://open.spotify.com/playlist/0x5UoFb29S1VnyyrFcexsx?si=aeec391ce52c49b2">
                  <i class="scarlet icon-music-circle"></i>
                  <span>.drive</span>
                </a>
              </li>
              <li>
                <a href="https://open.spotify.com/playlist/16y6QJqM9m2gLRvjL2nuDp?si=fac508ca23c4438a">
                  <i class="pink icon-music-circle"></i>
                  <span>.flow</span>
                </a>
              </li>
              <li>
                <a href="https://open.spotify.com/playlist/3KdI0XSdn5F5NZR1v2fwCD?si=c9ac3ed812fa41c0">
                  <i class="deepblue icon-music-circle"></i>
                  <span>.sonar</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://letterboxd.com/errai/films/">
              <i class="icon-letterboxd"></i>
              <span>Letterboxd</span>
            </a>
          </li>
          <li>
            <a href="https://steamcommunity.com/id/erraineon/">
              <i class="icon-steam"></i>
              <span>Steam</span>
            </a>
            <ul class="vertical-line">
              <li>
                <a href="https://www.backloggd.com/u/errai/">
                  <i>B</i>
                  <span>Backloggd</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://myanimelist.net/profile/erraineon">
              <i class="icon-myanimelist"></i>
              <span>MyAnimeList</span>
            </a>
          </li>
        </ul>
      </nav>
    </article>
  </main>
</body>
{% endblock %}