{% extends "section.html" %}

{% block css %}
<style>
  @media (min-width: 720px) {
  :root {
      --scale-factor: 2;
  }
}

@media (min-width: 1080px) and (min-height: 1280px) {
  :root {
      --scale-factor: 3;
  }
}

main {
  width: 360px;
}

</style>
{% endblock %}
{% block content %}
<h1>{{ section.title | safe }}</h1>
<nav>
  <h1>Posts</h1>
  <ul>
    {% for page in section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
<nav>
  <h1>Socials</h1>
  <ul>
    <li>
      <a href="https://bsky.app/profile/errai.bsky.social/"><img src="bluesky.png" />Main</a>
    </li>
    <li>
      <a href="https://x.com/errai/"><img src="twitter.png" />Main</a>
    </li>
    <li>
      <a href="https://x.com/latexterior/"><img src="twitter.png" /><img src="lock.png" />Personal</a>
    </li>
    <li>
      <a href="https://bsky.app/profile/errai.tf/"><img src="bluesky.png" /><img src="nsfw.png" />NSFW</a>
    </li>
    <li>
      <a href="https://x.com/gooeypaws/"><img src="twitter.png" /><img src="nsfw.png" />NSFW</a>
    </li>
  </ul>
</nav>
<nav>
  <h1>Links</h1>
  <ul>
    <li>
      <a href="https://letterboxd.com/errai/films/"><img src="letterboxd.png" />Letterboxd</a>
    </li>
    <li>
      <a href="https://www.backloggd.com/u/errai/"><img src="backloggd.png" />Backloggd</a>
    </li>
    <li>
      <a href="https://steamcommunity.com/id/erraineon/"><img src="steam.png" />Steam</a>
    </li>
    <li>
      <a href="https://github.com/erraineon"><img src="github.png" />GitHub</a>
    </li>
    <li>
      <a href="https://open.spotify.com/user/8ilrts1c4oeoj08k1t2pkokwc?si=428a127a80c844d5"><img src="spotify.png" />Spotify</a>
    </li>
    <li>
      <a href="https://myanimelist.net/animelist/erraineon"><img src="myanimelist.png" />MyAnimeList</a>
    </li>
    <li>
      <a href="https://www.furaffinity.net/user/errai"><img src="furaffinity.png" />FurAffinity</a>
    </li>
  </ul>
</nav>
<nav>
  <h1>Playlists</h1>
  <ul>
    <li>
      <a href="https://open.spotify.com/playlist/3B2O6Jp0OXhGPxUegjrumu?si=8ea205bdfb424651"><div class="square aqua"></div>.tech</a>
    </li>
    <li>
      <a href="https://open.spotify.com/playlist/0x5UoFb29S1VnyyrFcexsx?si=aeec391ce52c49b2"><div class="square scarlet"></div>.drive</a>
    </li>
    <li>
      <a href="https://open.spotify.com/playlist/16y6QJqM9m2gLRvjL2nuDp?si=fac508ca23c4438a"><div class="square magenta"></div>.flow</a>
    </li>
  </ul>
</nav>
<nav>
  <h1>Contact</h1>
  <ul>
    <li>
      <a href="https://discordapp.com/users/382774230267330567"><img src="discord.png" />erraineon</a>
    </li>
    <li>
      <a href="https://t.me/errai"><img src="telegram.png" />errai</a>
    </li>
  </ul>
</nav>
{% endblock content %}