<div class="gallery">
    {% if filenames -%}
    {% set width = 364 -%}
    {% for filename in filenames -%}
    {% set path = page.colocated_path ~ filename -%}
    {% set image = resize_image(path=path, width=width, quality=100, op="fit_width") -%}
    <a href="{{ get_url(path=path) }}" target="_blank">
        <img src="{{ image.url }}" />
    </a>
    {%- endfor %}
    {%- endif %}
    {% if urls -%}
    {% for url in urls -%}
    <a href="{{ url }}" target="_blank">
        <img src="{{ url }}" />
    </a>
    {%- endfor %}
    {%- endif %}
</div>